<div class="col-xs-12 col-sm-offset-4 col-sm-4 formulaire">
  <%= render 'shared/message' %>
  <h1>Formulaire de contact</h1>
  <%= simple_form_for @message,  html: { class: "email-form-input"} do |f| %>

    <%= f.input :email, placeholder: "monemail@domain.com", label: "Email" %>
    <%= f.input :name, placeholder: "Naruto Uzumaki", label: 'Nom & Prénom' %>
    <%= f.input :subject, placeholder: "Mission développement site vitrine", label: "Objet"  %>
    <%= f.input :description, placeholder: "Bla bla bla....", label: "Message"  %>
    <%= f.button :submit, 'Envoyer !', class: "button-email" %>
  <% end %>
</div>
