<div class="home-promise" id="home-entrance" style="background-image: url('<%= cloudinary_url("imgbanner4_tfzbu8.jpg", :quality=>45) %>')" >
  <div class="overlay-white"></div>
  <div class="home-promise-text">
    <div class="home-promise-text-1">
      <p style="font-weight: 300">Focused on&nbsp;</p>
    </div>
    <div class="home-promise-text-2">
      <p><span id="typed" style="font-weight: bold"></span></p>
    </div>
  </div>
  <div class="scroll-downs">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="home-expertises" id="expertises">
    <div class="home-section-title">
      <h1>Expertises</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 home-expertises-details">
        <div class="home-expertises-icon">
          <%= image_tag "expertises/svg/web-design.svg", alt: "Expertise web design", height: 80 %>
        </div>
        <div class="home-expertises-details-title">
           <h2>Web Design</h2>
        </div>
        <div class="home-expertises-details-desc">
           <p>Nous designons des interfaces (UI) qui répondent à vos besoins, en plançant l’expérience utilisateur (UX) au coeur de notre processus créatif.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 home-expertises-details">
        <div class="home-expertises-icon">
          <%= image_tag "expertises/svg/web-dev.svg", alt: "Expertise web developpement", height: 80 %>
        </div>
        <div class="home-expertises-details-title">
           <h2>Développement Web</h2>
        </div>
        <div class="home-expertises-details-desc">
           <p>Nous donnons vie à vos projets, en nous appuyant sur des langages de développement moderne.</p>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4 home-expertises-details">
        <div class="home-expertises-icon">
          <%= image_tag "expertises/svg/web-marketing.svg", alt: "Expertise web marketing", height: 80 %>
        </div>
        <div class="home-expertises-details-title">
           <h2>Web Marketing</h2>
        </div>
        <div class="home-expertises-details-desc">
           <p> Nous assurons la visibilité de votre projet grâce à une stratégie webmarketing calibrée sur mesure. Nous configurons des outils qui permettent l'analyse des données et la génération rapport KPI’s.</p>
        </div>
      </div>
    </div>
    <div class="home-tools">
      <div class="home-tools-title">
        <h3>Quelques outils que nous utilisons quotiennement</h3>
      </div>
      <div class="home-tools-icons">
        <% @icons.each do |icon| %>
        <%= cl_image_tag icon.photo, data: {placement:"top", toggle:"tooltip"}, title:"#{icon.name}", height: 35 %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="works">
  <div class="home-section-title bg-gray" id="realisations">
    <h1>Réalisations</h1>
  </div>
  <div class="row-fluid work work-1 bg-gray">
    <div class="col-xs-12 col-sm-4 work-title-left ">
      <div>
        <div class="work-done">
          <h3>Developpement front-end & back-end</h3>
        </div>
        <div class="work-who">
          <h3>Projet : Légumes.green</h3>
          <h3>Technologie : Ruby on Rails</h3>

        </div>
        <div class="work-links">
          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 work-img-normal">
      <a href="#"><%= cl_image_tag("Smartphone_mockup_marcinjarka_ybse00.png") %></a>
    </div>
  </div>
  <div class="row-fluid work work-2 ">
    <div class="work-img-left col-xs-12 col-sm-8">
      <a href="#"><%= cl_image_tag("01__Front-v1_grpiok.png") %></a>
    </div>
    <div class="work-title-right col-xs-12 col-sm-4">
      <div>
        <div class="work-done">
          <h3>Developpement back-end</h3>
        </div>
        <div class="work-who">
          <h3>Projet : Product Manual</h3>
          <h3>Technologie : Ruby on Rails</h3>
        </div>
        <div class="work-links">
          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid work work-3 bg-gray">
    <div class="work-title-left col-xs-12 col-sm-4 ">
      <div>
        <div class="work-done">
          <h3>Developpement front-end & back-end</h3>
        </div>
        <div class="work-who">
          <h3>Client : Savoy International</h3>
          <h3>Technologie : Wordpress</h3>
        </div>
        <div class="work-links">
          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="work-img-right col-xs-12 col-sm-8">
      <a href="#"><%= cl_image_tag("MacBook_Pro_2016_ebwwwp.png") %></a>
    </div>
  </div>
</div>

<div class="contact-me bg-gray">
  <p>Si vous souhaitez travailler avec moi</p>
  <button class="btn-contact">
    Contactez moi
  </button>
</div>

