<div class="home-promise" id="home-entrance" style="background-image: url('<%= cloudinary_url("imgbanner4_tfzbu8.jpg", :quality=>40) %>')" >
  <div class="overlay-white"></div>
  <div class="home-promise-text">
    <div class="home-promise-text-1">
      <p style="font-weight: 300">Focused on&nbsp;</p>
    </div>
    <div class="home-promise-text-2">
      <p><span id="typed" style="font-weight: bold"></span></p>
    </div>
  </div>
  <div class="scroll-downs">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="home-expertises" id="expertises">
    <div class="home-expertises-title">
      <h1>1. Expertises</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 home-expertises-details">
        <div class="home-expertises-icon">
          <%= image_tag "expertises/svg/web-design.svg", alt: "Expertise web design", height: 80 %>
        </div>
        <div class="home-expertises-details-title">
           <h2>Web Design</h2>
        </div>
        <div class="home-expertises-details-desc">
           <p>Nous designons des interfaces (UI) qui répondent à vos besoins, en plançant l’expérience utilisateur (UX) au coeur de notre processus créatif.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 home-expertises-details">
        <div class="home-expertises-icon">
          <%= image_tag "expertises/svg/web-dev.svg", alt: "Expertise web developpement", height: 80 %>
        </div>
        <div class="home-expertises-details-title">
           <h2>Développement Web</h2>
        </div>
        <div class="home-expertises-details-desc">
           <p>Nous donnons vie à vos projets, en nous appuyant sur des langages de développement moderne.</p>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4 home-expertises-details">
        <div class="home-expertises-icon">
          <%= image_tag "expertises/svg/web-marketing.svg", alt: "Expertise web marketing", height: 80 %>
        </div>
        <div class="home-expertises-details-title">
           <h2>Web Marketing</h2>
        </div>
        <div class="home-expertises-details-desc">
           <p> Nous assurons la visibilité de votre projet grâce à une stratégie webmarketing calibrée sur mesure. Nous configurons des outils qui permettent l'analyse des données et la génération rapport KPI’s.</p>
        </div>
      </div>
    </div>
    <div class="home-tools">
      <div class="home-tools-title">
        <h3>Quelques outils que nous utilisons quotiennement</h3>
      </div>
      <div class="home-tools-icons">
        <% @icons.each do |icon| %>
        <%= cl_image_tag icon.photo, data: {placement:"top", toggle:"tooltip"}, title:"#{icon.name}", height: 35 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="home-realisations" id="realisations">
    <div class="home-realisations-title">
      <h1>2. Réalisations</h1>
    </div>
    <div class="row">
      <%#= link_to("http://savoy-international.com/?ref=focused", target: "_blank", class: "home-realisations-links col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-5 ")do %>
        <div class="home-realisations-details">
          <div class="home-realisations-image">
            <%#= image_tag "realisations/Savoy_Capture.png", alt: "Réslisation de développement web pour Savoy International" %>
          </div>
          <div class="home-realisations-description">
            <h3>
              <strong>Développement Web</strong>
              <br>
              Savoy International
            </h3>
          </div>
        </div>
      <#% end %>
      <#%= link_to("https://www.legumes.green/?ref=focused", target: "_blank", class: "home-realisations-links col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0")do %>
        <div class="home-realisations-details">
          <div class="home-realisations-image">
            <#%= image_tag "realisations/legumes_green.png", alt: "Réalisation de conception et développement Legumes green" %>
          </div>
          <div class="home-realisations-description">
            <h3>
              <strong>Conception UI/UX & Développement</strong>
              <br>
              Légumes.green
            </h3>
          </div>
        </div>
      <#% end %>
    </div>
  </div>
 -->
  <!-- <div class="home-a-propos">
    <div class="home-a-propos-title">
      <h1>3. A propos de Focused</h1>
    </div>
    <div class="home-a-propos-description">
      <p>
        Focused a été créé par Arthur Allamand.
      <br>
      <br>
        Fort de plusieurs années  d’expériences en Startup à des fonctions de marketing, web-marketing et product management, il a également réalisé la formation du Wagon pour se former au métier du développement informatique.
      <br>
      <br>
        Aujourd’hui il met son expérience au service des entreprises souhaitant se digitaliser.
      </p>
    </div>
  </div> -->

<div class="works">
  <div class="row-fluid work">
    <div class="work-title col-sm-6">
      <div>
        <div class="work-done">
          <h3>Developpement front-end & back-end</h3>
        </div>
        <div class="work-who">
          <h3>Client : Savoy International</h3>
          <h3>Technologie : Wordpress</h3>
        </div>
        <div class="work-links">
          <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

        </div>
      </div>
    </div>
    <div class="work-img col-sm-6">
      <%= cl_image_tag("Macbook_02_eajjby.png") %>
    </div>
  </div>
</div>

